In [6]:
"""
Topic:        Project 2
Subject:      Carbon Emissions
Date:         xx/xx/xxxx
Name:         Leo Knauth
Worked with:  --


""";

In [56]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.tsa.stattools as ts
import re

import sys
import os

In [8]:
df_gdp = pd.read_pickle("gdp_per_capita.pkl")

In [9]:
df_gdp.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,...,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0,1884.0,1877.0,1925.0
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,667.0,667.0,668.0,668.0,668.0,668.0,668.0,668.0,668.0,...,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0,9961.0,10160.0,10620.0
4,Algeria,716.0,716.0,717.0,718.0,719.0,720.0,721.0,722.0,723.0,...,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0,12893.0,13179.0,13434.0

In [10]:
df_co2 = pd.read_pickle('co2_per_capita.pkl')

In [11]:
df_co2.head()

,country,1751,1755,1762,1763,1764,1765,1766,1767,1768,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654

In [12]:
df_gdp.columns

Index(['country', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808',
       ...
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object', length=217)

In [49]:
select_years = list(map( lambda x : str(x), range(1923, 2013)))
select_years;

In [50]:
df_gdp_years = df_gdp[['country'] + select_years]

In [51]:
df_gdp_years.head()

,country,1923,1924,1925,1926,1927,1928,1929,1930,1931,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,874.0,879.0,885.0,890.0,896.0,902.0,908.0,913.0,919.0,...,1097.0,1067.0,1146.0,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,1572.0,1591.0,1610.0,1629.0,1647.0,1666.0,1685.0,1696.0,1707.0,...,6274.0,6672.0,7075.0,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0
4,Algeria,2537.0,2596.0,2654.0,2713.0,2771.0,2828.0,2885.0,2942.0,2998.0,...,11251.0,11575.0,12077.0,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0

In [52]:
df_co2_years = df_co2[['country'] + select_years]

In [54]:
df_co2_years.head(200)

,country,1923,1924,1925,1926,1927,1928,1929,1930,1931,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022704,0.027472,0.036780,0.047090,0.068312,0.131602,0.213325,0.262174,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.382066,1.332966,1.353789,1.224310,1.279420,1.297753,1.215055,1.336544,NaN,NaN
4,Algeria,0.002353,0.004647,0.005163,0.006231,0.008950,0.011048,0.012001,0.012389,0.014362,...,2.899236,2.762220,3.257010,3.113135,3.312875,3.328945,3.564361,3.480977,3.562504,3.785654
5,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.414281,7.499690,7.390955,6.839940,6.622435,6.527241,6.178520,6.092100,NaN,NaN
7,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.587810,1.177610,1.161662,1.308849,1.435044,1.474353,1.500054,1.593918,NaN,NaN
8,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.214324,3.363143,3.781740,3.664573,4.076055,3.980910,3.896823,4.297435,NaN,NaN
9,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.756310,4.913204,4.893783,5.006749,5.162817,5.275415,5.679445,5.786646,NaN,NaN
10,Argentina,0.870678,1.090810,1.085699,1.057798,1.220550,1.130030,1.133655,1.074171,1.056574,...,3.502902,4.072844,4.160611,4.464492,4.582394,4.785170,4.483564,4.466338,4.676320,4.774982
11,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.120168,1.190052,1.421961,1.427326,1.648352,1.804106,1.410815,1.364888,NaN,NaN
12,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.277419,22.804219,22.509142,22.133300,22.620932,21.681860,21.529784,21.593108,NaN,NaN
13,Australia,4.364987,4.655325,4.754389,4.596636,4.672808,4.173276,3.701063,3.408203,2.997038,...,17.461840,17.346237,17.773976,17.893128,17.859906,18.016313,18.037269,16.752301,16.772660,16.182094
14,Austria,2.719038,3.064310,2.887319,2.822051,3.040515,3.192533,3.630352,2.824606,2.702013,...,8.889629,8.778800,9.017238,8.649446,8.319712,8.183160,7.438353,7.969244,7.606392,7.095971
15,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.654527,3.783992,3.998027,4.500682,4.695871,5.109538,4.701319,4.976935,5.326446,5.408627
16,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.893601,5.475436,5.005876,4.695546,4.705129,3.131921,4.854818,7.186250,NaN,NaN
17,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.444864,26.063376,26.498088,24.026900,24.192721,23.090029,20.663008,19.178419,NaN,NaN
18,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.248178,0.286703,0.267095,0.338118,0.336645,0.319161,0.355868,0.377610,0.401268,0.426003
19,Barbados,NaN,NaN,NaN,NaN,NaN,0.022011,0.021825,0.043283,0.021459,...,4.709423,4.794768,5.001793,5.059113,5.251247,6.008279,5.955393,5.500047,NaN,NaN
20,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.416118,5.878412,6.011032,6.323492,6.196024,6.488174,6.256458,6.483926,6.399220,6.506759
21,Belgium,9.421917,9.901475,10.039380,9.910845,11.455086,11.084672,12.081466,11.608841,10.361063,...,11.144728,10.743691,10.419898,10.198066,9.792963,9.797337,9.772561,10.169529,9.513115,9.194220
22,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.391576,1.387398,1.409519,1.417946,1.451036,1.360126,1.356700,1.353113,NaN,NaN
23,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.323937,0.339507,0.314131,0.492354,0.554571,0.537539,0.552871,0.586260,NaN,NaN
24,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.006703,10.499961,6.918239,8.093935,8.015255,6.011208,7.185992,7.339996,NaN,NaN
25,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.604817,0.479452,0.600643,0.581509,0.569771,0.601210,0.544607,0.656620,NaN,NaN
26,Bolivia,NaN,NaN,NaN,NaN,NaN,0.001565,0.004641,0.004589,0.003024,...,1.602519,1.456394,1.347341,1.601935,1.347951,1.431829,1.474029,1.556418,NaN,NaN
27,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.142587,6.509390,6.774749,7.183843,7.377900,8.212238,8.118340,8.276977,NaN,NaN
28,Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.330075,2.363621,2.459206,2.443924,2.438687,2.547205,2.218604,2.607113,NaN,NaN
29,Brazil,0.158621,0.171842,0.177337,0.177096,0.192463,0.184050,0.193065,0.164393,0.121808,...,1.770560,1.837108,1.867213,1.849542,1.913506,2.023773,1.899718,2.152981,2.209100,2.256672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Romania,0.660360,0.769099,0.887173,1.083116,1.188817,1.328900,1.469873,1.644957,1.802043,...,4.375355,4.366713,4.394089,4.726338,4.663950,4.383449,3.728429,3.664556,4.016768,3.807815
171,Russia,0.351701,0.415184,0.406031,0.582916,0.718090,0.790462,0.843494,1.136235,1.352531,...,11.076901,11.106998,11.231265,11.633096,11.636494,11.982718,11.003633,12.175716,12.651673,12.637522
172,Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.076994,0.076511,0.057381,0.055924,0.057395,0.054244,0.055829,0.055911,NaN,NaN
173,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.839190,0.856989,0.874774,0.872214,0.889982,0.887378,0.884498,0.881213,NaN,NaN
174,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Sao Tome and Principe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.445831,0.487877,0.504514,0.544191,0.535923,0.527571,0.564050,0.598560,NaN,NaN
176,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.651976,17.050155,16.538583,17.447964,15.428820,15.982246,16.076155,16.920609,17.006069,17.611888
177,Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.486731,0.498993,0.538943,0.428725,0.464937,0.461634,0.483059,0.567676,NaN,NaN
178,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.863690,5.343477,5.077286,5.465793,5.313370,5.271223,4.681854,4.662841,NaN,NaN
179,Serbia and Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Serbia excluding Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.825047,9.007919,8.342015,8.830520,7.680690,8.270226,8.774885,8.137035,NaN,NaN
182,Sierra Leone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.137984,0.129574,0.106013,0.137654,0.115790,0.118256,0.113719,0.117483,NaN,NaN
183,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.618605,6.843891,7.115879,6.983367,3.896273,4.114441,5.007368,2.657863,2.713841,2.502661
184,Slovak Republic,3.203942,3.918263,3.674054,3.711649,3.968714,4.163392,4.640397,4.075955,3.799807,...,7.300549,7.160089,7.233132,7.178985,6.738570,6.901654,6.215615,6.607509,6.402683,6.482757
185,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.771158,7.880375,7.924576,8.093731,8.055444,8.511828,7.563256,7.551272,NaN,NaN
186,Solomon Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.404341,0.393213,0.382428,0.371981,0.398800,0.388067,0.377772,0.374742,NaN,NaN
187,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.072121,0.070453,0.069299,0.067349,0.069274,0.068219,0.065133,0.065231,NaN,NaN
188,Somaliland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,South Africa,3.465218,3.562208,3.633697,3.737406,3.553165,3.484565,3.542120,3.235691,2.818748,...,8.165663,9.043478,8.287457,8.789516,9.082425,9.427960,10.128243,9.177269,9.047453,9.086902
190,South Ossetia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Spain,0.788484,0.833885,0.855314,0.816769,0.943465,0.937053,1.033807,1.009213,0.952636,...,7.637239,7.942454,8.144404,7.951434,8.030690,7.293089,6.315138,5.852169,5.999387,5.932687
193,Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.550288,0.610095,0.586703,0.585034,0.614419,0.580791,0.620716,0.609238,NaN,NaN
194,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.311234,0.381532,0.350443,0.367321,0.390491,0.382118,0.419064,0.415147,NaN,NaN
195,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.602164,4.646187,4.766063,4.836477,4.786959,4.741140,4.746782,4.542832,NaN,NaN
196,Svalbard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.956471,0.940525,0.922550,0.908789,0.938506,0.949861,0.875598,0.862523,NaN,NaN
198,Sweden,2.024081,2.401315,2.134845,2.065782,2.894816,2.662856,3.167092,3.090635,3.086267,...,6.130266,6.072200,5.709938,5.452381,5.245429,5.315688,4.697578,5.598303,5.196745,4.723791
199,Switzerland,1.975449,1.857803,1.928986,1.897677,2.174419,2.249833,2.554451,2.361475,2.476797,...,5.501698,5.486628,5.579361,5.606772,5.054235,5.333058,5.457750,5.056288,4.797962,4.914759